<launch>
      <arg name="model" />
      <param name="robot_description" textfile="$(find joint_tracker)/urdf/km1.urdf" />
      <param name="use_gui" value="True"/>
      <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node>
      <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
      <node name="rviz" pkg="rviz" type="rviz" args="-d $(find shape_reconstruction)/cfg/kinematic_model_viewer.rviz" />
</launch>
